version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/v2"
    allow:
      - dependency-type: "all"
    schedule:
      interval: daily
    open-pull-requests-limit: 20
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
